body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.datetime-container {
    padding: 20px;
    border: 2px solid #000;
    border-radius: 10px;
    background-color: #ffeb3b; /* Color amarillo */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#datetime {
    font-size: 24px;
    color: #000;
}
